@import url('https://fonts.google.com/specimen/Acme?query=acme');
@import url('https://fonts.google.com/specimen/Inter?query=inter');

:root {
  --primary-color: #1B7032;
  --secondary-color: #3AF06A;
  --accent1-color: #83F2A1;
  --accent2-color: #3D704A;

  --heading-font: 'Acme', sans-serif;
  --paragraph-font: 'Inter', sans-serif;

  --nav-background-color: #ffffff;
  --nav-link-color: #3D704A;
  --nav-hover-link-color: #83F2A1;
  --nav-hover-background-color: #3AF06A;
}

body {
  font: 16px;
  font-family: 'Acme', sans-serif;
  font-family: 'Inter', sans-serif;
  width: 1200px;
}

header .grid{
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
  display: grid;
  align-items: center;
  border-bottom: 1px solid#ccc;
  max-width: 1000px;
}

.logo img {
  margin: 0 0.25rem 0 1rem;
  width: 202px;
  height: auto;
  order: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
  color: #1B7032;
}

.navigation {
  text-align: right;
	display: flex;
	list-style: none;
  order: 1 / 6;
}

.navigation li {
	grid-row: repeat(4, 1fr);
}

.navigation a {
	display: block;
	color: #3D704A;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: #83F2A1;
	font-weight: 700;
	text-decoration: underline;
}

.article {
  background-color: #ffffff;
  opacity: 0.33;
  position: absolute;
  }

.article img {
 float: right; 
}

figure {
  border: thin #333;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}
/* Class Selector*/
.sociallinks nav {
  text-decoration: none;
}

.sociallinks {
  padding: 2rem;
  width: 1rem;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  max-width: 5px;
}
.icon {
  width: 1px;
  height: auto;
}
.hero img {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 25rem;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    background-color: #3D704A;
    display: flex;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid #fff;
    padding: 2rem;
}

input[type="checkboxY"] {
  display: none;
  width: 25px;
  height: 25px;
}

input[type="checkboxN"] {
  display: none;
  width: 25px;
  height: 25px;
  padding-left: 5px;
}

.profiles, .grid {
  margin: 0 0.25rem 0 1rem;
  width: 13px;
  height: auto;
  display: grid;
}

.profiles .img {
width: 300px;
}
.map {
width: 50px;
height: auto;
padding: 5px;
border: 1px solid #3D704A;
display: grid;
}
