@import url('https://fonts.google.com/specimen/Acme?query=acme');
@import url('https://fonts.google.com/specimen/Inter?query=inter');

:root {
  --primary-color: #1B7032;
  --secondary-color: #3AF06A;
  --accent1-color: #83F2A1;
  --accent2-color: #3D704A;

  --heading-font: 'Acme', sans-serif;
  --paragraph-font: 'Inter', sans-serif;

  --nav-background-color: #ffffff;
  --nav-link-color: #3D704A;
  --nav-hover-link-color: #83F2A1;
  --nav-hover-background-color: #3AF06A;
}

* {
  width: "600x1676";  
}

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px repeat(4, 1fr);
  align-items: center;
  border-bottom: 1px solid#ccc;
  max-width: 1000px;
}

.logo img {
	margin: 0 9.5rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

nav {
  text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: #83F2A1;
	font-weight: 700;
	text-decoration: underline;
}

/*article {
  background-color: #ffffff;
  opacity: 0.33;
  position: absolute;
  }

.article img {
 float: right; 
}

/* Class Selector*/
.sociallinks nav {
  text-decoration: none;
}

.hero img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}