@import url('https://fonts.google.com/specimen/Acme?query=acme');
@import url('https://fonts.google.com/specimen/Inter?query=inter');

:root {
  --primary-color: #1B7032;
  --secondary-color: #3AF06A;
  --accent1-color: #83F2A1;
  --accent2-color: #3D704A;

  --heading-font: 'Acme', sans-serif;
  --paragraph-font: 'Inter', sans-serif;

  --nav-background-color: #ffffff;
  --nav-link-color: #3D704A;
  --nav-hover-link-color: #83F2A1;
  --nav-hover-background-color: #3AF06A;
}

* {
  width: "600x1676";  
}


h1 {
  position: absolutely;
}

article {
  background-color: opacity to fit the design and make sure it is readable
  position: absolutely;
  }

hero {

}

img {
 floats to right of the paragraph 
}

/* Class Selector*/
.sociallinks a {
  text-decoration: none;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}