@import url('https://fonts.google.com/specimen/Acme?query=acme');
@import url('https://fonts.google.com/specimen/Inter?query=inter');

:root {
  --primary-color: #1B7032;
  --secondary-color: #3AF06A;
  --accent1-color: #83F2A1;
  --accent2-color: #3D704A;

  --heading-font: 'Acme', sans-serif;
  --paragraph-font: 'Inter', sans-serif;

  --nav-background-color: #ffffff;
  --nav-link-color: #3D704A;
  --nav-hover-link-color: #83F2A1;
  --nav-hover-background-color: #3AF06A;
}

* {
  width: 1676px;  
}

body {
  font: 16px;
  font-family: 'Acme', sans-serif;
  font-family: 'Inter', sans-serif;
}

header .grid {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 12px 1fr 2fr;
  gap: 2rem;
  align-items: center;
  border-bottom: 1px solid#ccc;
  max-width: 1000px;
}

.logo img {
	margin: 0 5rem 0 1rem;
	width: 2rem;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
  color: #1B7032;
}

nav {
  text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: #3D704A;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: #83F2A1;
	font-weight: 700;
	text-decoration: underline;
}

.article {
  background-color: #ffffff;
  opacity: 0.33;
  position: absolute;
  }

.article img {
 float: right; 
}

figure {
  border: thin #333;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}
/* Class Selector*/
.sociallinks nav {
  text-decoration: none;
}

.sociallinks {
	padding: 20px;
	width: 15px;
	height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  max-width: 75px;
}

.hero img {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
}

input[type="checkboxY"] {
  display: none;
  width: 25px;
  height: 25px;
}
