:root {
  --primary-color: #1B7032;
  --secondary-color: #3AF06A;
  --accent1-color: #83F2A1;
  --accent2-color: #3D704A;

  --heading-font: 'Acme', sans-serif;
  --paragraph-font: 'Inter', sans-serif;

  --nav-background-color: #ffffff;
  --nav-link-color: #3D704A;
  --nav-hover-link-color: #83F2A1;
  --nav-hover-background-color: #3AF06A;
}

body {
  font: 16px;
  font-family: 'Acme', sans-serif;
  font-family: 'Inter', sans-serif;
  width: 1200px;
}

header .grid{
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
  display: grid;
  align-items: center;
  border-bottom: 1px solid#ccc;
  max-width: 1000px;
}

.logo img {
  margin: 0 0.25rem 0 1rem;
  width: 202px;
  height: auto;
  order: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
  color: #1B7032;
  text-align: center;
}

h2 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
  color: #1B7032;
  text-align: center;
}

h3 {
  text-align: center;
}
.navigation {
  text-align: right;
	display: flex;
	list-style: none;
}

.navigation a {
  margin: 5rem 2rem 2rem 2rem;
	display: block;
	color: #3D704A;
  font-weight: bold;
  font-size: larger;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
   color: #83F2A1;
   font-weight: 700;
   text-decoration: underline;
}

article {
  background-color: rgba(255,255,255,.6);
  position: absolute;
  top: 35px;
  left: 15px;
  right: 15px;
  text-align: left;
  padding: 20px;
  }

 .hero article img {
   margin: 1rem 1rem 1rem 1rem;
   float: right; 
   width: 200px;
   height: auto;
}

#figure {
  border: thin #333;
  display: flex;
  flex-flow: column;
  padding: 1rem;
  max-width: 220px;
  margin: auto;
}

figure img {
width: 130px;
height: auto;
}

figcaption {
  text-align: center;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

h2, section {
  align-self: center;
}

/* Class Selector*/
.sociallinks nav {
  text-decoration: none;
  text-align: right;
}

.sociallinks {
  padding: 2rem;
  width: 1rem;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  max-width: 5px;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1200px;
}

footer img {
  width: 5rem;
  border-radius: 1rem;
}

.sociallinks img {
  width: 50px;
}

.icon {
  width: 1px;
  height: auto;
}

.hero {
  width: 1200px;
  position: relative;
}

.hero img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}

form {
    width: 450px;
    margin: 0 auto;
    border: 1px solid #fff;
    background-color: #3D704A;
    display: flex;
    flex-wrap: wrap;
}


form, p {
  color: #000;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid #fff;
    padding: 2rem;
}

fieldset, label {
  color: #fff;
}

input[type="checkboxY"] {
  display: none;
  width: 25px;
  height: 25px;
  padding-left: 5px;
}

.profiles, .grid {
  margin: 0 0.25rem 0 1rem;
  width: 13px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  padding-bottom: 5rem;
  align-content: space-evenly;
  flex-wrap: wrap;
  align-self: center;
}

.profiles img {
width: 300px;
	padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-evenly;
  flex-wrap: wrap;
  align-self: center;
}

.map {
width: 50px;
height: auto;
padding: 5px;
}

#float {
  background-color: #ccc;
  border: 1px solid #3D704A;
  padding: 1px;
  border-radius: 2rem;
}

.lineup {
  display: flex;
 align-items: center;
}

.sectionbox {
  background-color: #cccccc;
  border: 1px;
  padding: 10px;
  font-size: 15px;
}

#sectionbox {
  display: flex;
  align-content: space-evenly;
  background-color: #cccccc;
  border: 1px;
  padding: 10px;
  font-size: 15px;
}

.sectionboximg {
  width: 325px;
  height: auto;
  border: 1px;
  padding: 10px;
}

.sectionbox2 {
  background-color: #83F2A1;
  border: 1px;
  padding: 10px;
}

#contentsection {
  margin: 1rem 1rem 1rem 1rem;
  height: auto;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
}

#home {
  padding: 1rem 1rem 1rem 1rem;
  height: auto;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  align-content: space-around;
  text-align: center;
}

#home img {
 align-content: center;
  width: 402px;
  height: 250px;
}

#home button {
  width: 125px;
  height: 75px;
  background-color: #cccccc;
  align-content: center;
  border: 10px;
  padding: 1rem 1rem 1rem 1rem;
}
