* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Acme', sans-serif, var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


/*.containter {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}*/

@import url('https://fonts.google.com/specimen/Acme?query=acme');
    
:root {
    --primary-color: #1B7032;
    --secondary-color: #3AF06A;
    --accent1-color: #83F2A1;
    --accent2-color: #3D704A;

    --heading-font: 'Acme', sans-serif;
    --paragraph-font: 'Inter', sans-serif;

    --nav-background-color: #ffffff;
    --nav-link-color: #3D704A;
    --nav-hover-link-color: #83F2A1;
    --nav-hover-background-color: #3AF06A;
}  

<!-- /*Color Theme Swatches in Hex
.WWR-colors-1-hex { color: #1B7032; } primary-color
.WWR-colors-2-hex { color: #83F2A1; } accent1-color
.WWR-colors-3-hex { color: #3AF06A; } secondary-color
.WWR-colors-4-hex { color: #3D704A; } accent2-color
.WWR-colors-5-hex { color: #2DBD53; } 
-->