* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    color: #444;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: darkmagenta;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1 rem;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid #fff;
    padding: 2rem;
}

label {
    text-align: left;
    padding-right: 2rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

button {
    margin: 1rem;
    background-color: #dfa826;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8rem;
    color: #777;
    border-top: 1px solid #ccc;
}

input[type="number"] {
    width: 85px;
    height: 22px;
}