* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px;
    font-family: 'Acme', sans-serif;
    font-family: 'Inter', sans-serif;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}

main {
    max-width: 840px;
}

main a {
    text-decoration: none;

}
aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    display: block;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 120px;
}

aside img {
    width: 200px;
    height: auto;
}

main h1 {
    padding: 12px 12px;
    border: 1px;
    border-bottom-style: solid;
}

main img {
    width: 150px;
    height: auto;
    float: right;
    margin: 2rem 1rem 1rem 1rem;
}

h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 1rem;
    font-family: 'Inter', sans-serif;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
    margin: 10px auto;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    background-color: #bbb;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
.indent {
    padding-left: 5rem;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}
