* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px;
    font-family: 'Acme', sans-serif;
    font-family: 'Inter', sans-serif;
}

nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 120px;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    float: right;
    margin: 0 0 1rem 1rem;
}

h1 {
    color: steelblue;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
    font-family: 'Inter', sans-serif;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
    margin: 10px auto;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    background-color: #bbb;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
.indent {
    padding-left: 5rem;
}